.container-list {
    display: flex;
    flex-flow: wrap;
}

.card-list {
    padding: 10px;
    margin: 20px;
    width: 125px;
    height: 175px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;

}

.card-list:hover {
    border: 1px solid #6f77b8;
}

.card-list:active {
    box-shadow: none;
}

.name-container {
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 0.7px black;
    color: white;
}