.card-list-product {
    padding: 20px;
    margin: 10px;
    width: 125px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.subtitle-product {
    text-align: center;
    color: red;
    margin: 5px 0px 12px 0px;
}

.title-product {
    text-align: center;
    color: blue;
    margin: 5px 0px 5px 0px;
}

.text-data-product {
    font-size: 18px;
    margin: 8px 0px;
}